* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    .container {
        width: 100%;
        height: 350vh;
        background-color: white;
    }

    .container header {
        width: 100%;
        height: 380px;
    }

    header nav {
        width: 100%;
        background-color: #F6F6F6;
        height: 105px;
    }

    header nav h1 {
        color: blue;
        position: absolute;
        top: 30px;
        left: 120px;
    }

    header nav #d {
        position: absolute;
        top: 41px;
        left: 500px;
        color: blue;
    }

    header nav .dolir {
        position: absolute;
        top: 42px;
        left: 520px;
    }

    header nav #p {
        position: absolute;
        top: 41px;
        left: 580px;
        color: blue;
    }

    header nav .dolirr {
        position: absolute;
        top: 42px;
        left: 600px;
    }

    header nav input {
        width: 275px;
        height: 45px;
        border-radius: 60px;
        background-color: #FFFFFF;
        border: transparent;
        padding-left: 40px;
        position: absolute;
        left: 836px;
        top: 27px;
    }

    header nav #glass {
        position: absolute;
        top: 41px;
        left: 845px;
        color: gray;
    }

    header nav input:hover {
        cursor: pointer;
        border: 1px solid grey;
    }

    header nav .qism {
        width: 70px;
        height: 36px;
        top: 35px;
        left: 1136px;
        border-radius: 39px;
        position: absolute;
        background-color: #DCE6FF;
    }

    header nav .qismm {
        width: 30px;
        height: 30px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        top: 3px;
        left: 3px;
    }

    header nav .qismm:hover {
        cursor: pointer;
        background-color: white;
    }

    header nav .qismmm {
        width: 30px;
        height: 30px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        top: 38px;
        left: 1170px;
    }

    header nav .qismmm:hover {
        cursor: pointer;
        background-color: white;
    }

    header nav button {
        width: 89px;
        height: 45px;
        top: 30px;
        left: 1231px;
        border-radius: 10px;
        opacity: 1;
        gap: 10px;
        padding-top: 13px;
        padding-right: 20px;
        padding-bottom: 13px;
        padding-left: 20px;
        background-color: #7296EC;
        color: white;
        border: none;
        position: absolute;
    }

    header nav button:hover {
        cursor: pointer;
        background-color: white;
        color: #7296EC;
        border: 2px solid #7296EC;
    }

    header .linklar {
        display: flex;
        gap: 59px;
    }

    header .linklar a {
        color: grey;
    }

    header .link {
        border-bottom: 1px solid grey;
        width: 1200px;
        height: 30px;
        position: absolute;
        left: 150px;
        top: 140px;
    }

    header .rasm1 {
        position: absolute;
        top: 200px;
        left: 150px;
    }

    .container main {
        width: 100%;
        height: 2050px;
        position: relative;
    }

    main .hammasiku {
        position: absolute;
        top: -1400px;
    }

    main .rasmku {
        width: 1050px;
        height: 100px;
        top: 1228px;
        left: 211px;
        position: absolute;
        background-image: url(/rasm1.png);
    }

    main .soz2 {
        font-size: 20px;
        position: absolute;
        top: 1400px;
        left: 120px;
        width: 1000px;
    }

    main .box1 {
        width: 797px;
        height: 205px;
        position: absolute;
        background-color: #F6F6F6;
        top: 1436px;
        left: 120px;
        border-radius: 15px;
    }

    .box1 img {
        width: 210px;
        height: 165px;
        border-radius: 10px;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .box1 h2 {
        font-family: Rubik;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0%;
        width: 500px;
        font-weight: 800;
        position: absolute;
        left: 260px;
        top: 20px;
    }

    .box1 p {
        width: 500px;
        color: grey;
        position: absolute;
        left: 260px;
        top: 80px;
    }

    .box1 .ss {
        width: 25px;
        height: 25px;
        position: absolute;
        border-radius: 5px;
        background-color: orangered;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 20px;
        left: 260px;
    }

    .box1 a {
        color: grey;
        position: absolute;
        left: 300px;
        bottom: 24px;
    }

    main .box2 {
        width: 797px;
        height: 205px;
        position: absolute;
        background-color: #F6F6F6;
        top: 1651px;
        left: 120px;
        border-radius: 15px;
    }

    .box2 img {
        width: 210px;
        height: 165px;
        border-radius: 10px;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .box2 h2 {
        font-family: Rubik;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0%;
        width: 500px;
        font-weight: 800;
        position: absolute;
        left: 260px;
        top: 20px;
    }

    .box2 p {
        width: 500px;
        color: grey;
        position: absolute;
        left: 260px;
        top: 80px;
    }

    .box2 .ss {
        width: 25px;
        height: 25px;
        position: absolute;
        border-radius: 5px;
        background-color: rgb(6, 3, 88);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 20px;
        left: 260px;
    }

    .box2 a {
        color: grey;
        position: absolute;
        left: 300px;
        bottom: 24px;
    }

    main .box3 {
        width: 797px;
        height: 205px;
        position: absolute;
        background-color: #F6F6F6;
        top: 1866px;
        left: 120px;
        border-radius: 15px;
    }

    .box3 img {
        width: 210px;
        height: 165px;
        border-radius: 10px;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .box3 h2 {
        font-family: Rubik;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0%;
        width: 500px;
        font-weight: 800;
        position: absolute;
        left: 260px;
        top: 20px;
    }

    .box3 p {
        width: 500px;
        color: grey;
        position: absolute;
        left: 260px;
        top: 80px;
    }

    .box3 .ss {
        width: 25px;
        height: 25px;
        position: absolute;
        border-radius: 5px;
        background-color: rgb(6, 3, 88);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 20px;
        left: 260px;
    }

    .box3 a {
        color: grey;
        position: absolute;
        left: 300px;
        bottom: 24px;
    }

    main .box4 {
        width: 797px;
        height: 205px;
        position: absolute;
        background-color: #F6F6F6;
        top: 2081px;
        left: 120px;
        border-radius: 15px;
    }

    .box4 img {
        width: 210px;
        height: 165px;
        border-radius: 10px;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .box4 h2 {
        font-family: Rubik;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0%;
        width: 500px;
        font-weight: 800;
        position: absolute;
        left: 260px;
        top: 20px;
    }

    .box4 p {
        width: 500px;
        color: grey;
        position: absolute;
        left: 260px;
        top: 80px;
    }

    .box4 .ss {
        width: 25px;
        height: 25px;
        position: absolute;
        border-radius: 5px;
        background-color: rgb(6, 3, 88);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 20px;
        left: 260px;
    }

    .box4 a {
        color: grey;
        position: absolute;
        left: 300px;
        bottom: 24px;
    }

    main .box5 {
        width: 393px;
        height: 502px;
        position: absolute;
        top: 1436px;
        left: 927px;
        border-radius: 15px;
        background-color: #F6F6F6;
    }

    .box5 h2 {
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .box5 .soz5 {
        position: absolute;
        left: 20px;
        top: 56px;
    }

    .box5 a {
        position: absolute;
        left: 20px;
        top: 115px;
        color: grey;
    }

    .box5 .chiziq {
        position: absolute;
        left: 20px;
        top: 120px;
        color: grey;
    }

    .box5 .soz6 {
        position: absolute;
        top: 140px;
        left: 20px;
        font-size: 21px;
    }

    .box5 .link1 {
        color: grey;
        position: absolute;
        left: 20px;
        top: 190px;
    }

    .box5 .chiziq1 {
        color: grey;
        position: absolute;
        left: 20px;
        top: 200px;
    }

    .box5 .soz7 {
        position: absolute;
        left: 20px;
        top: 235px;
    }

    .box5 .link2 {
        color: grey;
        position: absolute;
        top: 290px;
        left: 20px;
    }

    .box5 .chiziq2 {
        color: grey;
        position: absolute;
        left: 20px;
        top: 315px;
    }

    .box5 .soz8 {
        position: absolute;
        left: 20px;
        top: 340px;
    }

    .box5 .link3 {
        color: grey;
        position: absolute;
        left: 20px;
        top: 400px;
    }

    main .box6 {
        width: 797px;
        height: 205px;
        position: absolute;
        background-color: #F6F6F6;
        top: 2300px;
        left: 120px;
        border-radius: 15px;
    }

    .box6 img {
        width: 210px;
        height: 165px;
        border-radius: 10px;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .box6 h2 {
        font-family: Rubik;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0%;
        width: 500px;
        font-weight: 800;
        position: absolute;
        left: 260px;
        top: 20px;
    }

    .box6 p {
        width: 500px;
        color: grey;
        position: absolute;
        left: 260px;
        top: 80px;
    }

    .box6 .ss {
        width: 25px;
        height: 25px;
        position: absolute;
        border-radius: 5px;
        background-color: rgb(6, 3, 88);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 20px;
        left: 260px;
    }

    .box6 a {
        color: grey;
        position: absolute;
        left: 300px;
        bottom: 24px;
    }

    main .box7 {
        width: 797px;
        height: 205px;
        position: absolute;
        background-color: #F6F6F6;
        top: 2520px;
        left: 120px;
        border-radius: 15px;
    }

    .box7 img {
        width: 210px;
        height: 165px;
        border-radius: 10px;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .box7 h2 {
        font-family: Rubik;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0%;
        width: 500px;
        font-weight: 800;
        position: absolute;
        left: 260px;
        top: 20px;
    }

    .box7 p {
        width: 500px;
        color: grey;
        position: absolute;
        left: 260px;
        top: 80px;
    }

    .box7 .ss {
        width: 25px;
        height: 25px;
        position: absolute;
        border-radius: 5px;
        background-color: rgb(6, 3, 88);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 20px;
        left: 260px;
    }

    .box7 a {
        color: grey;
        position: absolute;
        left: 300px;
        bottom: 24px;
    }

    main .box8 {
        width: 797px;
        height: 205px;
        position: absolute;
        background-color: #F6F6F6;
        top: 2740px;
        left: 120px;
        border-radius: 15px;
    }

    .box8 img {
        width: 210px;
        height: 165px;
        border-radius: 10px;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .box8 h2 {
        font-family: Rubik;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0%;
        width: 500px;
        font-weight: 800;
        position: absolute;
        left: 260px;
        top: 20px;
    }

    .box8 p {
        width: 500px;
        color: grey;
        position: absolute;
        left: 260px;
        top: 80px;
    }

    .box8 .ss {
        width: 25px;
        height: 25px;
        position: absolute;
        border-radius: 5px;
        background-color: rgb(6, 3, 88);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 20px;
        left: 260px;
    }

    .box8 a {
        color: grey;
        position: absolute;
        left: 300px;
        bottom: 24px;
    }

    main .box9 {
        width: 797px;
        height: 205px;
        position: absolute;
        background-color: #F6F6F6;
        top: 2960px;
        left: 120px;
        border-radius: 15px;
    }

    .box9 img {
        width: 210px;
        height: 165px;
        border-radius: 10px;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .box9 h2 {
        font-family: Rubik;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0%;
        width: 500px;
        font-weight: 800;
        position: absolute;
        left: 260px;
        top: 20px;
    }

    .box9 p {
        width: 500px;
        color: grey;
        position: absolute;
        left: 260px;
        top: 80px;
    }

    .box9 .ss {
        width: 25px;
        height: 25px;
        position: absolute;
        border-radius: 5px;
        background-color: rgb(6, 3, 88);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 20px;
        left: 260px;
    }

    .box9 a {
        color: grey;
        position: absolute;
        left: 300px;
        bottom: 24px;
    }

    main .chek2 {
        width: 796px;
        position: absolute;
        height: 53px;
        top: 3199px;
        left: 120px;
        gap: 10px;
        border-radius: 10px;
        padding-top: 17px;
        padding-right: 343px;
        padding-bottom: 17px;
        padding-left: 343px;

    }

    main .rasm7 {
        width: 393px;
        height: 553px;
        border-radius: 15px;
        position: absolute;
        top: 510px;
    }


    .container footer {
        width: 100%;
        height: 360px;
        background-color: #7297EF;
    }

    footer h1 {
        top: 2496px;
        left: 221px;
        position: absolute;
        color: white;
    }

    footer .lorem1 {
        width: 309px;
        height: 95px;
        top: 2539px;
        left: 221px;
        position: absolute;
        color: #FFFFFF;
    }

    footer .past {
        display: flex;
        gap: 50px;
        line-height: 30px;
    }

    footer a {
        color: white;
        margin-left: 760px;
    }

    footer .pastk {
        padding-top: 100px;
    }

    footer .pastkk {
        padding-left: 300px;
        margin-top: -115px;
    }

    footer .pastk {
        display: flex;
        gap: 50px;
        line-height: 30px;
    }

    footer a {
        color: white;
        margin-left: 760px;
    }

    footer .pastk {
        padding-top: 100px;
    }

    footer .chiziq10 {
        color: white;
        position: absolute;
        z-index: 1;
        left: 220px;
        top: 2650px;
    }

    footer h3 {
        color: white;
        width: 150px;
        position: absolute;
        left: 220px;
        top: 2700px;
    }

    footer .ikomka {
        display: flex;
        gap: 30px;
        font-size: 20px;
        position: absolute;
        right: 240px;
        top: 2700px;
    }

    #face {
        color: blue;
        cursor: pointer;
    }

    #tele {
        color: blue;
        cursor: pointer;
    }

    #insta {
        color: red;
        cursor: pointer;
    }

    #you {
        color: red;
        cursor: pointer;
    }
}